@import "../../styles/colors.scss";
@import "../../styles/crimsonfont.scss";
@import "../../styles/quicksandfont.scss";

.cocktail-card {
  height: 900px;
  width: 90%;
  background-color: $color4;
  margin: 0px auto 90px;;
  display: flex;
  flex-direction: row;
  -webkit-box-shadow: 0px 17px 41px -4px rgba(0,0,0,0.71);
  -moz-box-shadow: 0px 17px 41px -4px rgba(0,0,0,0.71);
  box-shadow: 0px 17px 41px -4px rgba(0,0,0,0.71);
  font-family: $quicksand;
}

.cocktail-image {
height: 100%;
width: 40%;
}

.cocktail-info {
  height: 100%;
  width: 60%;
  background: linear-gradient(0deg, $color3, $color4 50%, $color4);
}

.cocktail-name {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  height: 10%;
  font-size: 2.2em;
  font-weight: 300;
  color: $color1;
  padding-top: 40px;
}

.spirit-type {
  width: 90%;
  margin: 0 auto;
  height: 10%;
  color: $color6;
  text-align: center;
  font-size: 1.3em;
}

.cocktail-splitter {
  height: 55%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.splitter-left {
  width: 50%;
  height: 100%;
}

.splitter-right {
  width: 50%;
  height: 100%;
  border-left: 0.1px solid $color3;
}

.cocktail-directions {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  height: 90%;
  font-weight: 300;
  font-size: 1.3em;
  color: $color1;
  padding-top: 20px;
  overflow: scroll;
}

.ingredients-container {
  height: 90%;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  padding-top: 20px;
  overflow: scroll;
}

.ingredient {
  width: 70%;
  margin: 0 auto;
  list-style: none;
  font-size: 1.2em;
}

.favorite-button-container{
  width: 90%;
  height: 25%;
  margin: 0 auto;
  padding-top: 35px;
}

.favorite-button {
  display: block;
  height: 80px;
  width: 400px;
  margin: 0px auto 30px;
  background-color: $color6;
  color: $color4;
  font-size: 1.5em;
  font-weight: 300;
}

.favorite-button:hover {
  background-color: $color5;
  cursor: pointer;
}

label {
  display: block;
  text-align: center;
  font-size: 1.3em;
  width: 90%;
  height: 10%;
  margin: 0 auto;
  border-bottom: 1px solid $color3;
}
