@import "../../styles/colors.scss";
@import "../../styles/crimsonfont.scss";
@import "../../styles/quicksandfont.scss";

.bottle-card {
  height: 900px;
  width: 90%;
  background-color: $color4;
  margin: 0px auto 90px;;
  display: flex;
  flex-direction: row;
  -webkit-box-shadow: 0px 17px 41px -4px rgba(0,0,0,0.71);
  -moz-box-shadow: 0px 17px 41px -4px rgba(0,0,0,0.71);
  box-shadow: 0px 17px 41px -4px rgba(0,0,0,0.71);
  font-family: $quicksand;
}

.bottle-image {
height: 100%;
width: 40%;
}

.bottle-info {
  height: 100%;
  width: 60%;
  background: linear-gradient(0deg, $color3, $color4 50%, $color4);
}

.bottle-name {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  height: 15%;
  font-size: 2.2em;
  font-weight: 300;
  color: $color1;
  padding-top: 40px;
}

.bottle-spirit-type {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  height: 10%;
  font-size: 1.2em;
  font-weight: 300;
  color: $color6;
}

.bottle-description {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  height: 85%;
  font-weight: 300;
  font-size: 1.3em;
  color: $color1;
}
