@import "../../styles/colors.scss";
@import "../../styles/crimsonfont.scss";
@import "../../styles/quicksandfont.scss";

#cocktailspage-container {
  width: 100%;
  height: 100%;
}

#cocktails-container {
  background-color: $color4;
  width: 100%;
  height: 80%;
  overflow: scroll;
  padding-top: 50px;
  padding-bottom: 50px;
}
