@import "../../styles/colors.scss";
@import "../../styles/crimsonfont.scss";
@import "../../styles/quicksandfont.scss";

.header-container {
  background-color: $color6;
  height: 20%;
  padding: 20px 0px;
  font-family: $quicksand;
}

.header-title {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  color: $color4;
  border-bottom:1px solid $color3;
  height: 30%;
  font-size: 3em;
  font-weight: 300;
  padding-bottom: 0px;
}


.header-description {
  height: 70%;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  color: $color4;
  font-size: 1.5em;
  font-weight: 300;
  padding-top: 20px;
}
